.orderSuccess {
  margin: auto;
  text-align: center;
  height: 50vh;
  padding: 10vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmax;
}
.orderSuccess > svg {
  font-size: 5vmax;
  color: #67727D;
}
.orderSuccess > p {
  font-size: 2vmax;
}
.orderSuccess > a {
  background-color:#67727D;
  color: white;
  /* font: 300 1.5vmax "Roboto"; */
  font-size: 1.5vmax;
  border: 1px solid #415161;
  text-decoration: none;
  cursor: pointer;
  padding: 1vmax 3vmax;
}

@media screen and (max-width: 600px) {
  .orderSuccess > svg {
    font-size: 7vmax;
  }
  .orderSuccess > p {
    font-size: 3vmax;
  }
  .orderSuccess > a {
    font-size: 2.5vmax;
    padding: 1.5vmax 4vmax;
  }
}
