.orders-container {
  width: 100vw;
  max-width: 100%;
  padding: 0 5vmax;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}
.orders-container > p {
  text-align: center;
  /* font: 400 1.5vmax "Roboto"; */
  font-size: 1.2vmax;
  background-color: #f5f5f5;
  color: #415161;
  padding: 1vmax;
  transition: all 0.5s;
}

.orders-table > div {
  /* font: 300 1.4vmax "Roboto"; */
  font-size: 1.15vmax;
  color: #67727D;
  /* border: none; */
}
.orders-table a {
  color: #415161;
  transition: all 0.5s;
}
.orders-table a:hover {
  color: #415161;
}
.MuiDataGrid-columnHeader {
  background-color: #f5f5f5;
  padding: 1vmax !important;
}
.MuiDataGrid-columnHeader div {
  color: #415161;
  font-size: 1.3vmax;
}
.MuiDataGrid-iconSeparator {
  display: none !important;
}
.redColor {
  color: #415161 !important;
}

@media screen and (max-width: 600px) {
  .orders-container {
    padding: 0;
    height: 93vh;
  }
  .orders-container > p {
    font-size: 2.5vmax;
    padding: 1.5vmax;
  }
  .orders-table > div {
    font-size: 2vmax;
  }
  .MuiDataGrid-columnHeader div {
    font-size: 2vmax;
  }
  .MuiDataGrid-columnHeader {
    padding: 1.5vmax !important;
  }
}
